body {
}

/*Apartado de estilos del encabezado de la página.*/
.container_barra {
    display: grid;
    grid-template-columns: min-content 68% max-content max-content;
}

.imagen_logo {
    margin-top: 20px;
    margin-right: 10px;
}

/*Apartado que le da estilos al dropDown de usuarios*/
.titulo_dropDown {
    color: #fff;
    cursor:pointer;
    display: block;
    border-radius: 5px;
    background-color: #000;
    margin:15px 35px 2px 35px;
    padding: 10px 30px 10px 30px;
}

.container_lista {
    z-index: 1;
    display: none;
    margin-left: 35px;
    border-radius:3px;
    position: absolute;
    background-color: #000;
}

.container_lista a {
  color:#fff;
  padding: 18px;
  display: block;
  text-decoration:none;
}

.container_lista a:hover{
  text-decoration:underline;
}

.dropDown:hover .container_lista {
  display: block;
}

/*Estilos para el botón de cerrar sesión.*/
.btn_cerrar {
    color: #fff;
    display:block;
    margin-top:15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #000;
    padding: 10px 20px 10px 20px;
}

hr {
    border-color: #000;
}

/*Apartado de estilos del formulario.*/
.container_agregar {
    margin:50px 350px;
    padding:20px 50px;
    border-radius:3px;
    background-color:#c0c0c0;
}

table {
    margin:auto;
}

caption {
    margin:20px;
    font-weight:bold;
    font-size:larger;
}

td *{
    margin: 20px 50px;
}

.container_botones {
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
}

.btn_admin {
    color:#fff;
    width:150px;
    cursor:pointer;
    padding:10px 15px;
    border-radius:3px;
    background-color:#000;
}