body {
}

/*Apartado de estilos del encabezado de la página.*/
.container_barra {
    display: grid;
    grid-template-columns: min-content 85% max-content;
}

.imagen_logo {
    margin-top: 20px;
    margin-right: 10px;
}

/*Estilos para el botón de cerrar sesión.*/
.btn_cerrar {
    color: #fff;
    display:block;
    margin-top:15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #000;
    padding: 10px 20px 10px 20px;
}

hr {
    border-color: #000;
}

/*Apartado de estilos del formulario.*/
.container_grid {
    display:grid;
    grid-template-rows:100%;
    grid-template-columns:min-content auto;
}


.container-buscador {
    margin:0 20px;
    padding: 10px 30px;
    width:min-content;
    text-align: center;
    height:min-content;
    border-radius:10px;
    background-color: #c0c0c0;
}

.container-buscador * {
    margin: auto;
    display:block;
}

.titulo-buscador {
    margin:20px auto;
}

.container-input {
    padding: 0 15px;
    display:flex;
    width:min-content;
    border-radius:10px;
    background-color:#fff;
}

.container-input * {
    display:inline-block;
}

.buscador {
    padding:10px;
    outline:none;
    border:none;
}

.btn {
    color: #fff;
    width:150px;
    cursor:pointer;
    padding:5px 10px;
    margin:50px auto;
    border-radius: 5px;
    text-decoration: none;
    background-color: #000;
}

.drop-opciones {
    color: #fff;
    width: 150px;
    padding: 5px;
    margin: 50px auto;
    border-radius: 5px;
    background-color: #000;
}