body {
}

/*Apartado de estilos del encabezado de la página.*/
.container_barra {
    display: grid;
    grid-template-columns: min-content 85% max-content;
}

.imagen_logo {
    margin-top: 20px;
    margin-right: 10px;
}

/*Estilos para el botón de cerrar sesión.*/
.btn_cerrar {
    color: #fff;
    display:block;
    margin-top:15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #000;
    padding: 10px 20px 10px 20px;
}

hr {
    border-color: #000;
}

/*Estilos de los elementos del buscador.*/
.titulo_buscador {
    text-align:center;
}

.container_buscador {
    width:40%;
    margin:auto;
    padding:20px;
    border-radius:5px;
    background-color: #c0c0c0;
}

.img_buscador {
    vertical-align:bottom;
}

.buscador {
    outline:none;
    width:200px;
    border-radius:5px;
    border-style:solid;
}

.drop_opciones {
    width: 100px;
    float: right;
    outline: none;
    margin-top: 3px;
    border-radius: 5px;
    border: 2px solid #767676;
}

/*Estilos del gridView.*/
.titulo_grid {
    margin-top:40px;
    text-align:center;
}

.container_grid {
    margin:auto;
    width:max-content;
}