/*Apartado de estilos del menú de navegación de la página.*/
.container_barra {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: max-content auto;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.titulo-barra {
    margin: 10px;
    cursor: default;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-link {
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #000;
}

hr {
    border-color: #000;
}

/*Estilos grid que da la estructura al formulario y gridView.*/
.container_layout {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
}

/*Apartado de estilos del formulario.*/
.container_formulario {
    height:max-content;
    width: 400px;
    margin: 0px auto;
    border-radius:5px;
    padding: 20px 5px;
    background-color: #c0c0c0;
}

.titulo-formulario {
    text-align: center;
}

.campo-texto {
    width: 250px;
    border: none;
    outline: none;
    display: block;
    margin: 45px auto;
    padding: 5px 10px;
}

.container_botones {
    text-align: center;
}

.btn-admin {
    cursor: pointer;
    color: #fff;
    border: none;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #000;
}

.lbl-resultado {
    font-weight:bold;
    margin:10px auto;
    display:block;
}

.container_pregunta {
    text-align:right;
}

.btn_pregunta {
    margin:5px;
}

.btn_si {
    color: #fff;
    border-color: #00B000;
    background-color: #00B000;
}

.btn_no {
    color: #fff;
    border-color: #f00;
    background-color: #f00;
}

/*Estilos del dataGridView.*/
.container_grid {
    
}