body {
}

.btn_regresar {
    top:10px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    text-decoration: none;
    background-color: #000;
}

.container_crearUsuario {
    width: 500px;
    margin: auto;
    margin-top: 50px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    background-color: #c0c0c0;
}

.container_crearUsuario *{
    display:block;
    margin:auto;
}


.campo_texto {
    margin-top:30px;
    margin-bottom:30px;
    outline:none;
    width:200px;
}

.dropDown {
    outline:none;
    width:200px;
}

.mensaje {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn_crearUsuario {
    color: #fff;
    width: 180px;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #000;
}