/*Apartado de estilos del menú de navegación de la página.*/
.container_barra {
    display:grid;
    grid-template-rows:100%;
    grid-template-columns:max-content auto;
}

.nav-logo {
    display:flex;
    align-items:center;
}

.titulo-barra {
    margin:10px;
    cursor:default;
}

.nav-links {
    display:flex;
    align-items:center;
    justify-content:flex-end;
}

.btn-link {
    color:#fff;
    margin:0 10px;
    cursor:pointer;
    padding:10px 30px;
    border-radius:5px;
    text-decoration:none;
    background-color:#000;
}

hr {
    border-color: #000;
}

/*Apartado de estilos del formulario.*/
.container_forms {
    width: 400px;
    padding: 45px 5px;
    border-radius:5px;
    height:max-content;
    text-align: center;
    background-color: #c0c0c0;
}

.container_forms * {
    margin: auto;
    display: block;
}


.campo_texto {
    border:none;
    width: 250px;
    outline: none;
    padding:5px 10px;
    margin:45px auto;
}

.dropDown {
    border: none;
    width: 270px;
    outline: none;
    padding: 5px 10px;
}

.mensaje {
    margin: 30px auto;
}

.btn {
    width:90px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0px 5px;
    padding: 10px 15px;
    border-radius: 5px;
    display:inline-block;
    background-color: #000;
}